/* 상세정보 부분 */
.sec_brand_detail .container_brand_detail{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.sec_brand_detail .brand_image_box{
    width: 400px;
    height: 400px;
}
.sec_brand_detail .brand_image_box >img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sec_brand_detail .brand_info_box{
    padding-left: 52px;
    width: 400px;
    height: 100%;
    margin-top: 3.2rem;
}
.sec_brand_detail .brand_desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
}
.brand_desc_header .brand_id{
    margin-top: 36px;
    margin-bottom: 16px;
    color: var(--second-black);
    font-size: 1.5em;
}
.brand_desc_header .brand_title{
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 56px;
}

.brand_detail_top .brand_website{
    padding: 20px 8px;
    font-size: 1rem;
    border-top: solid 1px var(--base-gray-e4);
    border-bottom: solid 1px var(--base-gray-e4);
    font-weight: 400;
    line-height: 1rem;
    word-break: keep-all;
}

.brand_detail_top .brand_website .col_website_1 > a{
    color: rgb(64, 64, 226);
}


.brand_desc_box{
    margin: auto;
    justify-content: center;
    align-items: center;
}
.brand_desc_box .tab_brand_desc{
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 3rem;
    text-align: center;
    line-height: 2.5rem;
    word-break: keep-all;
}
.brand_desc_box .tab_brand_desc_ko{
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 3rem;
    text-align: center;
    color: var(--base-gray-999);
    line-height: 2.5rem;
    word-break: keep-all;
}
