.sec{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* 제품 상세정보 공간 */
.create_review_body_title{
    display: flex;
    justify-content: center;
}
.review_image_box, .review_image{
    width: 200px;
    height: 200px;
}
.review_body_desc_box{
    padding: 32px 32px;
}
.desc_box_id p{
    font-weight: 400;
    margin-bottom: 16px;
    color: var(--second-black);
}
.desc_box_brand p{
    font-weight: 700;
    margin-bottom: 16px;
}
.desc_box_name p{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 16px;
}

/* 리뷰 평점 grade */
.review_select_grade p{
    font-size: 1.2em;
    margin-bottom: 32px;
    font-weight: 700;
    text-align: center;
}

/* 리뷰 form - 내용 부분 */
.sec_create_review_write{
    padding: 0 50px;
}
.sec_create_review_write .review_input_row{
    margin-bottom: 32px;
}
.sec_create_review_write .review_input_label{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 16px;
}
.sec_create_review_write .input_guide{
    font-size: 0.8em;
    color: var(--base-gray-999);
    margin-left: 8px;
    margin-top: 1px;
    font-weight: 400;
}
.review_image_upload_box2{
    margin: 8px 0 16px;
}
hr{
    margin-bottom: 32px;
}

/* 작성완료 버튼 */
.sec_btn_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 100px;
}