/* swiper */
.swiper.main_banner .swiper-slide{
    min-height: 5vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rgba(255,255,255,0.6);
    
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;

}
.swiper.main_banner .swiper-slide2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rgba(255,255,255,0.6);
    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    
    /* position: sticky;
    top: 10vh;
    left: 60vh;
    opacity: 0.9;
    backdrop-filter: blur(30px); */

}
.swiper.main_banner .swiper-slide h1{
    width: 100%;
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 24px;
}
.swiper.main_banner .swiper-slide p{
    width: 100%;
    margin-bottom: 20px;
    line-height: 1.56;
    font-size: 1em;
    color: #999;
}
.swiper.main_banner .swiper-slide2 p{
    width: 100%;
    margin-bottom: 50px;
    line-height: 1.56;
    font-size: 1em;
    color: #999;
}
.swiper.main_banner .swiper-slide2 .circle {
    margin: 0 15px;
    width: 100px;
    height: 100px;
    border: 1px solid #999;
    border-radius: 50%;
}
.swiper.main_banner .swiper-slide2 .circle_plus {
    font-size: 50px;
    font-weight: lighter;
    color: #999;
    position: relative;
    top: 20%;
}
.swiper.main_banner .swiper-slide2 .circle_plus .note{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    margin-top: -19px;
}
.swiper.main_banner .swiper-slide2 button{
    padding: 20px 80px 20px 80px;
    background-color:#2c2c2c;
    color: #ffffff;
    font-size: 13px;
}

/* sec 하단 버튼 */
.sec_btn_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 100px;
}
.sec_btn_wrap button{
    width: 200px;
    margin: 8px;
}
.sec_btn_wrap button.btn_survey_skip{
    border: solid 1px var(--main-black);
    background-color: var(--main-white);
    color: var(--main-black);
}
.sec_btn_wrap button.btn_survey_skip:hover{
    color: var(--main-black);
    border: solid 1px var(--main-black);
    background-color: var(--main-white);
}

/* 카테고리 탭 */
.category{
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size:15px;
    font-weight: bold;
    
}

.tab_item{
    margin: 0 50px 0 50px;
}
.tab_item:hover{
    font-weight: 600;
    transition: 0.2s;
}

.tab_item.active{
    font-weight: 600;
}

.tab_item.active::after{
    content: "";
    position: absolute;
    left:0;
    bottom: -17px;
    width: 100%;
    height: 3px;
    background-color: #222;
}

.tab_content{
    display: none;
}

.tab_content.active{
    display: block;
}
/* 향 선택 버튼 */
.circle_pick{
    width: 50px;
    height: 50px;
    border: 1px solid #999;
    border-radius: 50%;
    margin: auto;
}

.circle_pick_plus{
    color: #999;
    position: relative;
    font-size: 30px;
    top: 15%;
}
