/* swiper */
.swiper.main_banner .swiper-slide{
    min-height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.swiper.main_banner .swiper-slide h1{
    width: 100%;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 24px;
}
.swiper.main_banner .swiper-slide p{
    width: 100%;
    margin-bottom: 50px;
    line-height: 1.56;
    font-size: 1.25em;
}


