/* swiper */
.swiper.main_banner .swiper-slide{
    min-height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.swiper.main_banner .swiper-slide h1{
    width: 100%;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 24px;
}
.swiper.main_banner .swiper-slide p{
    width: 100%;
    margin-bottom: 50px;
    line-height: 1.56;
    font-size: 1.25em;
}

/* start 버튼 */
.sec_btn_wrap button{
    width: 200px;
    margin: 8px;
    font-size: large;
    border-radius: 0%;
}

.sec_btn_wrap button.btn_survey_start{
    background-color: var(--main-black);
    color: var(--main-white);
}

.sec_btn_wrap button.btn_survey_start:hover{
    color: var(--main-black);
    border: solid 1px var(--main-black);
    background-color: var(--main-white);
}


/* top 20 */
.main_top_name{
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
}

/* customperfume */
.main_customperfume_name{
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
}

.item_card .logo_image >img {
    width: 50px;
    height : 50px;
}