/* sec_profile_tab */
.tab_item{
    height: 3em;
    font-weight: 600;
    font-size: 1.15em;
    color: #999;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e4e4e4;
    justify-content: space-between;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4
}
.tab_item:nth-child(1){
    border-top: 1px solid #e4e4e4;
}
.tab_item.active{
    color: #202020;
    background-color: #f5f5f5;
}
/*  */
.tab_body .tab_content{
    display: none;
    
}
.tab_body .tab_content.active{
    display: block;
}


/* 리뷰 탭 */
/* 아코디언 */
.accordion-button{
    font-weight: 600;
    font-size: 1.05em;
}
.accordion-button:focus {
    z-index: 0;
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}
.accordion-button:hover {
    z-index: 0;
}
.accordion-button:not(.collapsed) {
    color: unset;
    background-color: unset;
    box-shadow: unset;
}
/* .accordion-button:not(.collapsed)::after {
    background-image: ;
} */
.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}
.accordion-button::after {
    background-image: var(--bs-accordion-btn-icon);
}
.my_review_list .review-edit-button{
    background-color: #202020;
    color: #f5f5f5;
    border-radius: unset;
    font-size: 0.8em;
    width: 45px;
    height: 28px;
    padding: unset;
    margin-left: 20px;
}
.my_review_list .review-edit-button:hover{
    background-color: #202020;
    color: #f5f5f5;
    border-radius: unset;
    font-size: 0.8em;
    width: 45px;
    height: 28px;
    padding: unset;
    margin-left: 20px;
}
/* my review */
.container_review_tab{
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.review_tab_box, .review_tab_grade{
    margin: 30px;
    text-align: center;
    font-size: x-large;
}

.review_tab_review_count, .grade {
    font-size: xx-large;
}


.container_review_body{
    margin: 20px 250px 20px 250px;
}

.review_profile_image{
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-right: 20px;
}

.review_user_info{
    display: flex;
    align-items: center;
}

.sec_review_head, .sec_review_body{
    display: flex;
}

.sec_review_body{
    justify-content: space-between;
}

.review_star_grade{
    width: 180px;
    margin-left: 15px;
    margin-top: 2px;
}

.review_username{
    font-weight: bold;
    margin-right: 20px;
}
.starpoint_wrap{
    font-weight: bold;
}
.review_user_grade{
    font-weight: bold;
}

.review_good, .review_bad{
    display: flex;
    margin-top: 30px;
    line-height: 1.4em;
    font-size: 0.9em;
}

.review_result_image_box{
    width: 110px;
    height: 110px;
}

.review_result_image{
    width: 110px;
    height: 110px;
}


/* mypage item_card */
.item_card .card_footer{
    padding-top: 0;
}
.item_card .card_footer .btn{
    background-color: #202020;
    color: #f5f5f5;
    font-size: 1em;
    width: 45px;
    height: 28px;
    padding: unset;
    border-radius: unset;
    margin:auto;
    display: block;
}

/* profile_edit */
.profile_edit{
    border: 1px solid #e4e4e4;
}
.profile_edit_data{
    width: 100%;
    max-width: 800px;
    border:0;
    margin: auto;
}
.profile_edit_data .profile_title{
    font-size: 1.2em;
    font-weight: 600;
    color: #202020;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 30px;
}
.profile_edit_data .edit_line{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.profile_edit_data .col-form-label{
    font-size: 1em;
    font-weight: 600;
    margin-left: 50px;
    width: 20%;
    color: #202020;
}
.profile_edit_data .profile_edit_input{
    padding-left: unset;
    padding-right: unset;
    margin-right: 50px;
    font-weight: 600;
    color: #999;
}
.profile_edit_data input:focus{
    box-shadow: unset;
    border-color: unset;
}
.sec .btn_edit_complete{
    margin:auto;
    display: block;
    background-color: #202020;
    width: 130px;
    height: 50px;
    color: #f5f5f5;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 1em;
    border-radius: unset;
}
.sec .btn_edit_complete:hover{
    margin:auto;
    display: block;
    background-color: #202020;
    width: 130px;
    height: 50px;
    color: #f5f5f5;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 1em;
    border-radius: unset;
}
