hr{
    color: var(--base-gray-dark);
    margin:0;
}
/* 제품 상세정보 부분 */
.sec_perfume_detail .container_perfume_detail{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.sec_perfume_detail .perfume_image_box{
    width: 500px;
    height: 500px;
}
.sec_perfume_detail .perfume_image_box >img.perfume_image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sec_perfume_detail .perfume_desc_box{
    padding-left: 32px;
    width: 500px;
}
.sec_perfume_detail .perfume_desc{
    display: flex;
    height:100%;
    flex-direction: column;
    justify-content: space-between;
}
.perfume_desc_header .perfume_origin_id{
    margin-bottom: 16px;
    color: var(--second-black);
}
.perfume_desc_header .brand_name{
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 16px;
}
.perfume_desc_header .perfume_name{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 16px;
}
.perfume_desc_body .detail_like, .detail_gender, .detail_price, .detail_launch{
    margin: 0;
    padding: 20px 8px;
    font-size: 1rem;
    border-top: solid 1px var(--base-gray-e4);
    font-weight: 400;
}
.perfume_desc_body .detail_like{
    border-top:0 !important;
}
.perfume_desc_body .likes_count{
    margin-left: 4px;
}
.sec_perfume_detail .btn_create_group{
    display: flex;
    margin-top: 50px;
    align-items: center;
}
.sec_perfume_detail #btn_heart{
    margin-right: 16px;
    font-size: 38px;
    color: var(--main-red);
    cursor: pointer;
}


/* ******** */
/* tab_menu */
/* ******** */
.tab_menu{
    border-bottom: solid 1px var(--base-gray-ef);
}
.tab_menu .tab_list{
    display: flex;
}
.tab_menu .tab_list .tab_item{
    margin: 16px 32px;
    font-size: 1.25em;
    font-weight: 500;
    position: relative;
}
.tab_menu .tab_list .tab_item:hover{
    font-weight: 600;
    transition: 0.2s;
}
.tab_menu .tab_list .tab_item.active{
    font-weight: 600;
}
.tab_menu .tab_list .tab_item.active::after{
    content: "";
    position: absolute;
    left:0;
    bottom: -17px;
    width: 100%;
    height: 3px;
    background-color: var(--main-black);
}
.tab_list{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.tab_item{
    margin-left: 25px;
    margin-right: 25px;
    font-size: large;
    font-weight: 600;
}
.tab_content{
    display: none;
    margin-top: 100px;
}
.tab_content.active{
    display: block;
}


/* 제품정보 탭 */
.tab_name_box{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab_name_box .tab_perfume_brand{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.tab_name_box .tab_perfume_name{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}
/* 향 테이블 */
.tab_detail_content{
    max-width: 700px;
    width: 100%;
    margin: auto;
}
.tab_perfume_detail{
    border: double 0.5rem var(--second-black);
    padding: 0rem 1rem 1rem 1rem;
}
.tab_perfume_detail .col_scent{
    font-size: 1.5em;
    font-weight: 600;
}
.tab_perfume_detail .col_scent_note{
    font-size: 1.5em;
    font-weight: 500;
}
.detail_scent, .detail_top_note, .detail_heart_note, .detail_base_note, .detail_none_note{
    margin: 24px 0;
}
.tab_perfume_detail .col_title{
    font-size: 1.2em;
    font-weight: 700;
}
.col_top_note, .col_heart_note, .col_base_note, .col_none_note{
    font-size: 1.2em;
    font-weight: 400;
}



/* 2. 리뷰 탭 */
.container_review_tab{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.review_tab_review, .review_avg_grade{
    width: 250px;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 24px;
}
.container_review_tab .tab_review_count, .container_review_tab .starpoint_wrap{
    height: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container_review_tab .tab_review_count{
    font-size: 3em;
    font-weight: 700;
}
.container_review_tab .starpoint_box{
    margin-bottom: 16px;
}
.container_review_tab .starpoint_avg_grade_text{
    color: var(--base-gray-ccc);
    font-weight: 400;
    font-size: 2em;
}
.container_review_tab .review_avg_grade_star{
    color: var(--main-black);
    font-weight: 700;
}

.none_result_list{
    text-align: center;
    padding: 150px 0;
    border-bottom: solid 1px var(--base-gray-e4);
    color: var(--base-gray-999);
}
/* 리뷰 목록 */
.container_review_body{
    margin: 75px auto 100px;
    border-top: solid 1px var(--base-gray-e4);
}
.review_card{
    padding: 32px 16px;
    border-bottom: solid 1px var(--base-gray-e4);
}
.review_card .review_card_head{
    margin-bottom: 16px;
}
.review_card .review_user_info,.review_card .review_star_grade{
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    font-size: 1.3em;
    font-weight: 700;
}
.review_card .review_star_grade .starpoint_box{
    margin-left: -4px;
}
.review_user_grade{
    margin-left: 8px;
    font-size: 0.8em;
}
.review_card .review_created_time{
    color: var(--base-gray-999);
    font-weight: 400;
    font-size: 0.8em;
    margin-left: 16px;
}

.review_card .review_card_body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.review_card .review_card_body .review_good,.review_card .review_card_body .review_bad{
    display: flex;
    min-height: 75px;
    font-size: 1em;
    margin-top: 24px;
}
#emoji_good, #emoji_bad{
    margin-right: 16px;
    font-size: 1.75em;
}
.review_card .review_card_body .review_good_content,
.review_card .review_card_body .review_bad_content{
    line-height: 1.36;
}
.review_result_image_box{
    width: 180px;
    height: 180px;
    margin-left: 32px;
}
.review_result_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 3. 추천제품 탭 */
.perfume_recommend_list{
    margin: 75px 0 100px;
}