.sec_signinup{
    margin-top: 150px;
    margin-bottom: 100px;
}
.signinup_box{
    max-width: 400px;
    width: 100%;
}


/* input단위 div */
.signin_content, .signup_content{
    width: 100%;
    margin-bottom: 1em;
}
.signin_content > h3, .signup_content > h3 {
    margin-bottom: 0.5em;
    font-weight: bold;
    display: flex;
}
input.form-check-input[type=checkbox]{
    margin-top:0;
    border-radius: 0;
    border-color: var(--base-gray-ccc);
}
input.form-check-input:focus{
    box-shadow:unset;
    border-radius: 0;
    border-color: var(--base-gray-ccc);
}
.signin_agree{
    margin-top: 50px;
    text-align: center;
    font-size: 0.8em;
    color: var(--base-gray-999);
}
.signin_agree a{
    color: var(--main-black);
    text-decoration: underline;
}
.point{
    color: var(--main-red);
    margin-left: 4px;
}


/* 버튼 */
.btn_wrap{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}
.btn_wrap .btn{
    width: 100%;
}
.btn_wrap .btn.btn_submit{
    background-color: var(--base-gray-dark);
}
.btn_wrap .btn.btn_submit:hover{
    background-color: var(--strong-black);
}
#kakao_btn{
    background-color: #FEE500;
    color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
}
#kakao_btn svg{
    width: auto;
    height: calc(42px - 20px);
    margin-right: 0.5em;
}

/* a태그 관련 */
.signin_content .link_wrap a{
    font-size: 0.8em;
    color: var(--base-gray-999);
}
.signin_content .link_wrap a:hover{
    color: var(--base-gray-dark);
}

