/* style.css : 공용 스타일 파일 */
/* reset */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
* {
    font-family: 'Pretendard', sans-serif !important;
    font-weight: 300;
}
:root {
    --main-black: #202020;
    --second-black: #2c2c2c;
    --main-white: #ffffff;
    --second-white: #f5f5f5;
    --base-gray-999: #999;
    --base-gray-e4: #e4e4e4;
    --base-gray-ef :#efefef;

}

body{
    color: #202020;
}

/* header */
header{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    font-weight: 700;
    font-size: 1.1em;
}
header.header_sticky{
    background: rgba(255,255,255,0.6);
    box-shadow: 0 0 8px rgb(255 255 255 / 5%);
    color: var(--main-black);
    transition: 0.4s;
}
header nav{
    padding: 0 16px;
}
header nav .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .navbar_logo{
    margin-right: 32px;
}
header nav .navbar_logo img{
    height: 24px;

}
header nav ul.navbar_menu{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 60px;
}
header nav ul.navbar_menu button{
    background: transparent;
    border:0;
}
header nav ul.navbar_menu > li > a, header nav ul.navbar_menu > li > button, header nav ul.navbar_menu > li .dropdown>button{
    display: block;
    line-height: 20px;
    padding: 0px 16px;
}
header nav ul.navbar_menu > li > button.btn:hover, header nav ul.navbar_menu > li .dropdown>button:hover, header nav ul.navbar_menu > li .dropdown>button:active, header nav ul.navbar_menu > li .dropdown>button:focus-visible, .btn:first-child:active{
    background: transparent;
    border-color: transparent;
}
header nav .my_profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
header nav .my_profile img{
    width: 100%;
    height: 100%;
    display: table;
    border-radius: 50%;
}

/* footer */
footer{
    background-color: var(--main-black);
    color: var(--second-white);
}
footer .fnb ul.fnb_nav{
    display: flex;
    padding: 16px 0;
}
footer .fnb ul.fnb_nav >li{
    margin-right: 32px;
}
footer .footer_content{
    display: flex;
    justify-content: space-between;
    line-height: 1.56;
    color: var(--base-gray-999);
    font-weight: 300;
    padding: 32px 0 50px;
}
footer .footer_content .footer_logo, footer .footer_content .footer_title{
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--second-white);
}
footer .footer_content a:hover{
    color: var(--second-white);
    transition: 0.4s;
}


/* default CSS */
a, a:hover{
    color: inherit;
    text-decoration: unset;
}

.flex{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-align-center{
    align-items: center;
}
.flex-justify-around{
    justify-content: space-around;
}
.flex-justify-between{
    justify-content: space-between;
}


/* wrap */
.wrap{
    position: relative;
    padding: 16px 0;
    padding-top: 60px;
    min-height: calc(100vh - 351.4px) ;
}
/* sidenav */
.area_container{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}
.sidenav{
    width: 250px;
    min-height: 250px;
    position: absolute;
    left:0;
    top: 32px;
}
.main{
    padding: 32px 16px;
}
/* section */
.sec{
    margin-bottom: 50px;
}
.sec .section_header{
    margin-bottom: 32px;
    text-align: center;
}
.sec .section_title{
    font-size: 1.5em;
    font-weight: 700;
    display: inline-block;
}




@media (max-width: 991px){
    .container, .container-md, .container-sm{
        max-width: 100%;
        padding: 32px;
    }
}