/* sec_perfume_recommend_list */
.section_title strong{
    font-weight: 900;
    margin: 0 8px;
    position: relative;
    min-width: 120px;
    display: inline-block;
}
.section_title strong::after{
    content: "";
    width: 104%;
    height: 2.5px;
    position: absolute;
    bottom: -2px;
    left:-2%;
    background-color: var(--main-black);
}


#recommend_perfume_list> .row >.col-lg-3.col-md-4.col-6:nth-child(1) .item_card::before,
#recommend_perfume_list> .row >.col-lg-3.col-md-4.col-6:nth-child(2) .item_card::before,
#recommend_perfume_list> .row >.col-lg-3.col-md-4.col-6:nth-child(3) .item_card::before {
    content: " ";
    background-size: cover;
    width: 80px;
    height: 80px;
    position: absolute;
    top:10px;
    left:10px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-white);
    font-size: 1.5em;
}
#recommend_perfume_list> .row >.col-lg-3.col-md-4.col-6:nth-child(1) .item_card::before{
    background-image: url("/static/images/rank_1.png");
}
#recommend_perfume_list> .row >.col-lg-3.col-md-4.col-6:nth-child(2) .item_card::before{
    background-image: url("/static/images/rank_2.png");
}
#recommend_perfume_list> .row >.col-lg-3.col-md-4.col-6:nth-child(3) .item_card::before{
    background-image: url("/static/images/rank_3.png");
}